ion-toast.custom-toast {
  --background: var(--ion-color-danger);
  --border-radius: 0.5rem;
  --height: 4rem;
  --width: 300px;
  font-family: 'Karla', sans-serif;
}

ion-toast.custom-toast::part(message) {
  font-size: 1.25rem;
  margin: auto;
}
